.container{
   background-image: url(perfumeoil2.png);
   background-color: rgb(243, 236, 236);
 background-size: auto;
 background-repeat: space;

}
.navigation{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.ulist{
    display: flex;
    flex-direction: row;
}

.logo{
    color: blue;
    font-size: 2rem;
    margin-right: 10rem;
}

.ulist{
    list-style: none;
}
li {
    color: rgb(33, 11, 160);
    margin-right: 2rem;
    font-size: 1.5rem;
    text-decoration: none;
}

a{
    text-decoration:none;
}

.section2{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-top: 3rem;
}

.header1{
    color: rgb(8, 11, 65);
    font-size: 3rem;
}
.first-div{
    width: 400px;
    margin-right: 3rem;
}

.img1{
max-width: 300px;
background-size: auto;

}

.btn1{
    background-color: rgb(188, 195, 201);
    padding: 0.7rem 4rem;
    border-radius: 3px;
    color: rgb(216, 25, 25);
    font-size: 1rem;
}

.img2{
    max-width: 500px;
    max-height: 300px;
}

.section2{
    justify-items: left;
    align-items: left;
}

.section3{
    display: flex;
 flex-direction: column;
 justify-content: end;
 align-content:center;
 padding-top: 3rem;
 
 
}
.ESSCENTIALS{
   color:red;
text-decoration: solid;
}

.paragraph1{
    text-align: left;
    justify-items: left;
    color: blue;
}


.section3{
    text-align: end;
    color: blueviolet;
}

.about-H1{
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
}

